<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<form action="submit" class="registration-form">
    <label for="account_firstname"> First Name*</label>
    <input type="text" name="account_firstname" id="accountFirstname" autocomplete="given-name">

    <label for="account_lastname">Last Name*</label>
    <input type="text" name="account_lastname" id="accountLastname" autocomplete="family-name">

    <label for="account_email">Email*</label>
    <input type="email" name="account_email" id="accountEmail">

    <label for="account_password">Password*</label>
    <input type="password" name="account_password" id="accountPassword">

    <p>Password must be:</p>
    <ul>
        <li>12 characters in length, minimum</li>
        <li>contain at least 1 capital letter</li>
        <li>contain at least 1 number</li>
        <li>contain at least 1 special character</li>   
    </ul>

    <button type="submit">Register</button>
</form>