<div id="homePage">
    <h1>Welcome to CSE Motors!</h1>
    <%- messages() %>
    <div class="hero">
        <img src="images/vehicles/delorean.jpg" alt="Delorean" width="200" height="100">
        <div class="hero-info">
            <h2>DMC Delorean</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <p><span class="own-today">Own Today</span></p>
        </div>
    </div>
    <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly! (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and love it!" (5/5)</li>
        </ul>
    </div>
    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <figure>
            <span><img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" width="50" height="50"></span>
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <span><img src="images/upgrades/flame.jpg" alt="Flame Decals" width="50" height="50"></span>
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <span><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" width="50" height="50"></span>
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>
            <span><img src="images/upgrades/hub-cap.jpg" alt="Hub Caps" width="50" height="50"></span>
            <figcaption>Hub Caps</figcaption>
        </figure>
    </div>
</div>