<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<p><a href="/inv/add-classification" class="link">Add New Classification</a></p>
<p><a href="/inv/add-inventory" class="link">Add New Vehicle</a></p>


<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to the classification</p>
<div id="classificationSelect">
    <%- classificationSelect %>
</div>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>